<!DOCTYPE html>
<!--                 
                        Detta är sidan för att läggatill böcker
 -->
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sellitt - Köp och sälj studentlitteratur</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js" defer></script>
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo">Sellitt</a>
            <ul class="nav-links">
                <li><a href="guide">Hur det fungerar</a></li>
                <li><a href="contact">Kontakt</a></li>
            </ul>
            % if username:
                <span>Välkommen, {{username}}</span>
                <a href="/logout" class="btn">Logga ut</a>
            % else:
                <a href="/login" class="btn">Logga in</a>
            % end

        </div>
    </nav>

    <section class="hero">
        <div class="container">
            <h1>Ladda upp bokannons</h1>
        </div>
    </section>
    

    <section class="how-it-works" id="how-it-works">
        <div class="upload-wrapper"> <!-- Wrappern för formuläret och bilden -->
            <img src="/static/uppladdad_bok.png" alt="student som håller en bok" class="img_uploaded_book">
            <form action="/save_book" method="post">
                <div>
                    <label for="title">Titel:</label>
                    <input type="text" id="title" name="title" required>
                </div>

                <div>
                    <label for="author">Författare:</label>
                    <input type="text" id="author" name="author" required>
                </div>

                <div>
                    <label for="publication_year">Utgivningsår:</label>
                    <input type="number" id="publication_year" name="publication_year" min="0" max="9999" required>
                </div>

                <div>
                    <label for="isbn">ISBN:</label>
                    <input type="text" id="isbn" name="isbn" required>
                </div>

                <div>
                    <label for="price">Pris:</label>
                    <input type="number" id="price" name="price" step="0.01" required>
                </div>
                <div>
                    <button type="submit">Publicera annons</button>
                </div>
            </form>
        </div>
    </section>

    <footer class="footer" id="footer">
        <div class="container">
            <p>&copy; 2025 Sellitt. Alla rättigheter förbehållna.</p>
        </div>
    </footer>
</body>

</html>