* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*test med kod*/

body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    background-color: #f33b3b;
    padding: 15px 0;
    color: rgb(255, 255, 255);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    transition: color 0.3s ease; 
}

.logo:hover {
    color: #966d6d; 
}

.logo span {
    color: #60646c;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: #60646c;
}
.hero {
    background-color: #f33b3b;
    color: white;
    padding: 80px 0;
    text-align: center;
}

.hero h1 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hero p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 30px;
}

.hero-btns {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    background-color: #60646c;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #ffffff;
}

.how-it-works {
    padding: 80px 0;
    background-color: #f5f5f5;
    text-align: center;
}

.steps {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.step {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.step-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.cta {
    margin-top: 40px;
}
.footer {
    background-color: #60646c;
    color: white;
    padding: 30px 0;
    text-align: center;
}

#container > nav > p > a{
    margin-left: 50px;
    text-decoration: none;
    color: black;
}